@import '/src/global.scss';

.carousel {
    box-shadow: -1px -2px 78px 41px rgba(0,0,0,0.75);
}

.carouselCapture {
    & h1 {
        font-size: 4.5rem;
    }
    & h4 {
        font-size: 1.5rem;
    }
    & div {
        border-top: 10px solid $light-green;
    }
}
